<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="" alt="">
        <nav>
            <ul>
                <li><a href="./index.php">Chat</a></li>
                <li><a href="./upload.php">Upload</a></li>
                <li><a href="./files.php">Files</a></li>
                <li><a href="./editor.html">Editor</a></li>
                <li><a href="../php/logout.php">Salir</a></li>
            </ul>
        </nav>
    </header>
    <script>console.log()</script>
</body>
</html>